/**** header ****/
/**** ______ ****/

/* menu */

body{
    background-color: #f5f4f4;
}

.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img{
    height: 100px;
}

.header-nav{
    float: right;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav .search-box{
    width: 380px;
    height: 50px;
    background-color: #eeeeee;
    border-radius: 30px;
    margin-right: 20px;
    border: 0px;
}

.header-nav .login-btn{
    width: 130px;
    height: 40px;
    font-weight: 600;
    border-radius: 10px;
    border: 0px;
    background: linear-gradient(rgb(240, 174, 75), rgb(255, 116, 3));
}



/**** footer ****/
/**** ______ ****/

.footer{
    margin-top: 30px;
    background-color: white;
}

.footer .footer-top{
    padding-top: 50px;
    padding-bottom: 10px;
}

.footer .slogan{
    font-size: larger;   
    font-weight: 500;
    color: black;
}

.footer .slogan img{
    width: 80px;
}

.footer .link-bonus a{
    color: rgb(116, 116, 116);
    font-weight: 600;
    padding-right: 20px;
}

.footer .link-bonus a:hover{
    color: rgb(0, 0, 0);
    font-weight: 750;
    text-decoration-line: none;
}

.footer .footer-bottom{
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer .footer-bottom p{
    font-size: large;
    color: rgb(116, 116, 116);
}

/* Back-to-top-icon */

.back-to-top-icon{
    position: fixed;
    float: right;
    bottom: 10px;
    right: 10px;
}

.back-to-top-img{
    width: 120px;
}