
/**** body ****/
/**** ____ ****/

/* card layout */

.body{
    background-color: white;
    padding-bottom: 50px;
    margin-top: 30px;
    border-radius: 20px;
}

.body .body-top .avt{
    border-radius: 100%;
    width: 135px;
}

.body .body-top .username{
    padding-top: 10px;
}

.body .body-top .email{
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(146, 146, 146);
    font-weight: 480;
    font-size: 18px;
}

.body .body-top .follow-btn{
    border-color: rgb(255, 156, 28);
    border-radius: 10px;
    color: rgb(255, 156, 28);
    width: 200px;
}

.body .body-top .follow-btn:hover{
    background-color: rgb(253, 236, 199);
    color: rgb(253, 146, 6);
}

.body .body-top .post-number,
.body .body-top .follower,
.body .body-top .following{
    padding-right: 20px;
}

.body .body-bottom .align-center{
    display: flex;
    justify-content: center;
}

.body .body-bottom .choice-list div{
    color: rgb(146, 146, 146);
    font-weight: 400;
    font-size: 22px;
    border: 0;
    margin-right: 15px;
}

.body .body-bottom .choice-list div:hover,
.body .body-bottom div .default-choice{
    background-color: white;
    color: black;
    font-weight: 500;
}

.body .body-bottom .card-div{
    border-radius: 20px;
}

.body .body-bottom .card-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.body .body-bottom .card-title-anchor a h4{
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.body .body-bottom .card-title-anchor a h4:hover{
    color: rgb(250, 81, 81);
}

.body .body-bottom .card-title-anchor a:hover{
    text-decoration-line: none;
}

.body .body-bottom .avt-card{
    border-radius: 100%;
}

.body .body-bottom .link-to-acc{
    margin-left: 10px;
    margin-bottom: 10px;
}

.body .body-bottom .username{
    color: rgb(136, 135, 135);
}

.body  .body-bottom  .username:hover{
    color: black;
}

.body .link-to-acc a{
    text-decoration-line: none;
}

/* .body .heart-icon{
    float: right;
    margin-right: 10px;
    font-size: 25px;
} */
